.become-chef-container {
    text-align: center;
    margin-bottom: 25px;
}

.become-list {
    width: auto;
    text-align: center;
    border: 1px solid blue;
    border-radius: 15px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.become-title {
    font-weight: bold;
    margin-bottom: 35px;
}

.become-button {
    margin-top: 15px;
}