.about-container {
  flex: 1;
  text-align: center;
  background-image: linear-gradient(rgb(255,184,104), white);
}

.button {
  background-color: #FF8F00;
  color: white;
  border-radius: 35px;
  padding: 7px 20px;
}

.button:hover {
  background-color: white;
  color: #FF8F00;
}

.column-text {
  margin: 50px 50px;
}

.image {
  margin: 30px 20px;

  height: auto;
  width: 65%;
}