.nav-logo-color {
    font-size: 25px;
    color: #FF8F00;
}

/* .navbar-default {
    background: transparent;
    background-image: none;
    border-color: transparent;
    color: white;
    box-shadow: none;
} */

.nav-logo {
    height: 45px;
    width: 35px;
    padding-right: 10px;
}
