.home-button {
    margin-top: 15px;
}

.home {
    height: 605px;
    width: 100%;
    color: white;
    background-image: url("../../img/baked-chef-cook.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-text {
    padding-top: 220px;
    padding-left: 40px;
    text-align: left;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}
