.contact-container {
  flex: 1; 
  text-align: center; 
  background-color: #13253B;
  color: white;
}

.contact-inputs {
  padding-bottom: 15px;
}

.contact-textarea {
  padding-bottom: 10px;
}

.contact-button {
  padding: 15px;
}