.button {
    margin: 10px;
    background-color: #FF8F00;
    color: white;
    border-radius: 35px;
    padding: 7px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.link {
    color: inherit;
}

.button:hover {
    background-color: white;
    color: #FF8F00;
}

.card-text {
    font-weight: bold;
}

.header {
    padding: 25px 20px;
}

.header-title {
    font-weight: bold;
}

.header-subtitle {
    margin-left: 15px;
    margin-right: 15px;
}
