.coming-soon-container {
  text-align: center;
  background-color: black;
  color: white;
  background-image: url("../../img/phonestrans.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coming-soon-text {
  margin-top: 50px;
}

.coming-soon-header {
  padding-top: 30px;
}
